//Colours
// color palette - SCSS RGB
// Primary
$color-1: rgba(117, 65, 200,1);
$color-2: rgba(72, 85, 106,1);
$color-3: rgba(25, 33, 46,1);
$color-4: rgba(207, 207, 207,1);
$color-5: rgba(236, 242, 248,1);
// Neutral
$neutral-1: rgba(0 , 0, 0, 1);
$neutral-2: rgba(255 , 255, 255, 1);
$neutral-3: rgba(128, 128, 128, 1);




