//Fonts
$main-font: 'Barlow Semi Condensed', sans-serif;
$secondary-font: 'Barlow Semi Condensed', sans-serif;

// Font weight
$medium: 500;
$semi-bold: 600;


//Media Queries
$tablet: 768px;
$desktop: 1024px;
